body {
  background: #efecfc;
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
}

.button {
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 22px;
}

.button--green {
  background: #14865d;
  color: #ffffff;
}
