.module {
  margin: 0 auto;
  max-width: 960px;
}

.module__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 1rem;
}

.module__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.grain .introduction,
.grain .content__text,
.grain .content__image,
.grain .content__footer {
  padding: 1rem;
}

.grain .introduction,
.grain .content__footer {
  background: #e5ddff;
}

.grain .content__image,
.grain .content__text {
  background: #cec3f4;
}

.grain .content__image img {
  width: 100%;
}
